#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
    padding: 50px 0;
}

#container .carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 200px;
    gap: 3rem;
}

#container .profile {
    color: #fff;
    background-color: #36393F;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    gap: 2rem;
    justify-content: left;
    align-items: center;
    border-radius: 15px;
}

#container .profile > div > p {
    font-size: 1.2rem;
}

#container .profile > div > span {
    font-weight: bold;
}

#container .profile_picture {
    width: 48px;
    border-radius: 50%;
}

#container .carousel > p {
    font-size: 2rem;
}

/* Class */

.Fundador {
    color: var(--primary);
}

.Moderador {
    color: var(--red);
}

.Caster {
    color: #1f8b4c;
}

.Artista {
    color: #cbe76e;
}

.Ayudante {
    color: var(--yellow);
}

.star {
    color: var(--red);
}