* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #742fff;
  --secondary: #c1a6f8;
  --violet_dark: #3e2594;
  --dark: #121211;
  --light_dark: #181819;
  --red: #ee2044;
  --yellow: #f6cb5b;
}

html {
  scroll-behavior: smooth;
}